#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.listItem {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  /* list-style-type: none; */
}
.listItem:hover {
  background-color: #f0f0f0;
}

.list {
  padding: 0;
  margin: 0.5rem auto;
  width: 220px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  list-style-type: none;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
